@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  position: relative;
  overflow-x: hidden;
}
#smooth-content.nightMode{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(28, 0, 62)) rgb(var(--background-start-rgb)) !important;
  transform: background 4s;
}
#smooth-content.morningMode{
  background: rgb(214,189,230);
  background: linear-gradient(0deg, rgba(214,189,230,1) 0%, rgba(115,206,235,1) 100%);
  /* transition: background 1s; */
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: twinkle 5s infinite, moveStar 60s infinite; /* Very slow motion */
}
.header{
  background: linear-gradient(0deg, rgba(198,0,167,0) 0%, rgba(0,0,0,0.7987788865546218) 100%);
}
@keyframes twinkle {
  0% {
      opacity: 0;
    }
  50% {
    opacity: 0.8;
  }
  100% {
      opacity: 0;
    }
}

@keyframes moveStar {
  0% {
    transform: translate(-10vw, -10vh);
  }
  50% {
    transform: translate(10vw, 20vh);
  }
  100% {
    transform: translate(-10vw, -10vh);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* #svg path {
  @apply w-[120%] block m-auto ;
} */



