@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  position: relative;
  overflow-x: hidden;
}

.cloud-container {
  animation: moveCloud 120s linear infinite; 
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#smooth-content.nightMode{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(28, 0, 62)) rgb(var(--background-start-rgb));
}
#smooth-content.morningMode{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(77, 139, 239, 1)) rgb( 115, 206, 235);
}
.star {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  background: #ffffff;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 0 1px 1px rgb(181, 184, 185);
  animation: twinkle 5s infinite, moveStar 60s infinite; /* Very slow motion */
  transition: opacity var(--transition-duration) ease;
}
.header{
  background: linear-gradient(0deg, rgba(198,0,167,0) 0%, rgba(0,0,0,0.7987788865546218) 100%);
}
@keyframes twinkle {
  0% {
      opacity: 0;
    }
  50% {
    opacity: 0.8;
  }
  100% {
      opacity: 0;
    }
}

@keyframes moveStar {
  0% {
    transform: translate(-10vw, -10vh);
  }
  50% {
    transform: translate(10vw, 20vh);
  }
  100% {
    transform: translate(-10vw, -10vh);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* @-moz-keyframes spin { 
  0% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
  50% { 
    -webkit-transform: rotate(0deg); 
    transform:rotate(0deg); 
  }
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg);  
  }
}  */

.moonSVG{
  animation: moon 5s linear infinite;
}

@keyframes moon { 
  0% { 
    box-shadow: 1px 1px 20px 0.5px #ffffff;
  } 
  50% { 
    box-shadow: 1px 1px 40px 1px #ffffff;
  } 
  100% { 
    box-shadow: 1px 1px 20px 0.5px #ffffff;
  } 
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 30);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}
.rainBow.card {
  background: transparent;
}
.rainBow.card::before {
  animation: none;
  opacity: 0
}
.rainBow.card::after {
  animation: none;
  opacity: 0
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.sunSVG {
  -webkit-animation:SunSVG 100s linear infinite;
  -moz-animation:SunSVG 100s linear infinite;
  animation:SunSVG 100s linear infinite;
}

@keyframes SunSVG { 
  0% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
  50% { 
    -webkit-transform: rotate(0deg); 
    transform:rotate(0deg); 
  }
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg);  
  }
} 